html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(157, 227, 227), rgb(216, 221, 221));
}

#content {
    background: #fff;
    
    margin: 0 auto;
    padding: 0.5em 2em 2em;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    
    width: 50em;
    max-width: 50em;
    min-height: 45em;
    
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
    
    
    
}

a {
    color: #68cc64;
    transition: color 0.5s;
}

a:Hover {
    color: #e04415;
}

#navigation div{
    max-height: 4em
}

#navigation a {
    display: block;
    padding: 20px 10px;
    transition: font-size 0.5s ease, color 0.5s;
}

#navigation a:Hover {
    font-size: 18px;
    background-image: linear-gradient(90deg, rgb(157, 227, 227), #fff);
}


h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}





